<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor's Degree in Computer Science and Engineering</h1>
            <span>POSTECH</span>
            <span><address>Pohang, South Korea</address><time>2019 to ~</time></span>
        </header>
        <p>
            <em>들은 과목 </em> <br/>
            <a href="https://github.com/khkim6040/CSED211">Intro. to Computer SW</a> <br/>
            Object Oriented Programming <br/>
            <a href="https://github.com/khkim6040/CSED233">Data Structures</a> <br/>
            <a href="https://github.com/khkim6040/CSED311">Computer Architecture</a> <br/>
            <a href="https://github.com/khkim6040/CSED331">Algorithms</a> <br/>
            <a href="https://github.com/khkim6040/CSED332">Software Design Methods</a> <br/>
            <a href="https://github.com/khkim6040/CSED342">Artificial Intelligence</a> <br/>
            <a href="https://github.com/khkim6040/CSED353">Computer Network</a> <br/>
            <em>들을 과목 </em> <br/>
            Operating system <br/>
            Compiler <br/>
            Programming Language<br/>
            Database System <br/>
            Computer Security <br/>
        </p>
    </article>
    <article>
        <header>
            <h1>Minor Bachelor's Degree in Industrial Management Engineering</h1>
            <span>POSTECH</span>
            <span><address>Pohang, South Korea</address><time>2019 to ~</time></span>
        </header>
    </article>
</section>
