<section class="thirteen columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Software Engineer Intern</h1>
            <span><address>Timepercent</address><time>2019 Summer</time></span>
        </header>
        <p>Learn Git, Gitlab, FastAPI basics, and agile development process. <br>
            Develop a web application for managing the company's internal data with FastAPI.</p>
    </article>
    <article>
        <header>
            <h1>Berkeley Concurrent Enrollment Student</h1>
            <span>Berkeley</span>
            <span><address>Berkeley, CA, USA</address><time>2024 Fall</time></span>
        </header>
    </article>
</section>
