<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <header>
            <h1>Music</h1>
        </header>
        <p>Big fan of ThornApple, Korean indie band. Checkout my SoundCloud!</p>
    </article>
    <article>
        <header>
            <h1>Reading</h1>
        </header>
        <p>Usually read Keigo Higashino's novels. </p>
    </article>
    <article>
        <header>
            <h1>Work Out</h1>
        </header>
        <p> Split three days working, one day rest. Sometimes run in the morning. </p>
    </article>
</section>